.item {
    margin-bottom: 5px;

    &.mItemCentered {
        text-align: center;
    }

    &.mItemWithBigMargin {
        margin-bottom: 20px;
    }

    &.mItemDeleting {
        opacity: 0.5;
        cursor: wait;

        .link, .removeButton {
            pointer-events: none;
        }
    }

    .link {
        color: #b8b7b4;

        &:visited {
            color: #b8b7b4;
        }

        &:hover {
            color: #f0ece9;
        }
    }

    .button {
        display: inline-block;
        margin: 0 3px;
        width: 16px;
        height: 16px;
        cursor: pointer;
        opacity: 0;
        transition: opacity 0.1s ease;

        &.mButtonVideo {
            background: url("/images/video.png");
        }

        &.mButtonRemove {
            background: url("/images/delete-cross.png");
        }
    }

    &:hover {
        .button {
            opacity: 1;
        }
    }
}
