.button {
    padding: 5px 10px;
    border: none;
    border-radius: 999px;
    font-weight: 900;
    background: #b8b7b4;
    color: black;
    cursor: pointer;

    &.mButtonPrimary {
        background: #fc4e6f;

        &:hover {
            background: #f93358;
        }
    }

    &.mButtonSecondary {
        background: #00fdad;

        &:hover {
            background: #00fd89;
        }
    }

    &:disabled {
        cursor: auto;
        background: #b8b7b4;

        &:hover {
            background: #b8b7b4;
        }
    }
}
