body {
    font-family: Trebuchet MS, sans-serif;
    font-size: 18px;
    background: #111111;
    color: #b8b7b4;
}

.root {
    margin: auto;
    padding-top: 20px;
    max-width: 1400px;
    width: 80%;
}
