.spinner {
    display: block;

    &.mSpinnerSmall {
        width: 20px;
        height: 20px;

        &:after {
            width: 16px;
            height: 16px;
            border-width: 2px;
        }
    }

    &.mSpinnerMedium {
        width: 38px;
        height: 38px;

        &:after {
            width: 32px;
            height: 32px;
            border-width: 3px;
        }
    }

    &.mSpinnerLarge {
        width: 76px;
        height: 76px;

        &:after {
            width: 64px;
            height: 64px;
            border-width: 6px;
        }
    }

    &:after {
        content: "";
        display: block;
        border-radius: 50%;
        border-style: solid;
        border-color: #b8b7b4 transparent #b8b7b4 transparent;
        animation: dualRing 2s linear infinite;
    }

    @keyframes dualRing {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}
