.root {
    padding: 0;
    list-style: none;

    .dictionary {
        margin-bottom: 5px;
        text-align: center;

        .link {
            color: #b8b7b4;

            &:visited {
                color: #b8b7b4;
            }

            &:hover {
                color: #f0ece9;
            }
        }

        .removeButton {
            visibility: hidden;
            display: inline-block;
            margin: 0 3px;
            width: 16px;
            height: 16px;
            background: url("/images/delete-cross.png");
            cursor: pointer;
        }

        &:hover {
            .removeButton {
                visibility: visible;
            }
        }
    }
}
