.root {
    position: fixed;
    bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: end;
    right: 15px;

    .notifications {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 220px;
        margin: 0;
        padding: 0;
    }

    .closeAll {
        padding: 3px 6px;
        border: 1px dashed #b8b7b4;
        font-size: 14px;
        user-select: none;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }

        &:active {
            border: 1px solid #b8b7b4;
        }
    }
}
