.notification {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    color: black;

    &.mNotificationError {
        background: #eb2d3a;
    }

    &.mNotificationWarning {
        background: #ffe37a;
    }

    &.mNotificationInfo {
        background: #f0ece9;
    }

    .controls {
        display: flex;
        justify-content: end;
        gap: 5px;

        .countdown {
            font-size: 12px;
        }

        .type {
            margin-right: auto;
            text-transform: capitalize;
        }

        .close {
            position: relative;
            display: block;
            width: 14px;
            height: 14px;
            border: 1px dashed black;
            cursor: pointer;

            &:active {
                border: 1px solid black;
            }

            .closeSymbol {
                display: block;
                margin-top: -7px;
                user-select: none;
                pointer-events: none;
                transition: transform 0.35s ease;
            }
        }
    }

    .message {
        font-size: 12px;
        text-align: justify;
        overflow-wrap: break-word;
    }
}
